.modal-info {
  background-color: red;
}
.modal-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 20px 20px;
  width: 500px;
  margin: 0 20px;
  color: rgb(53, 52, 52);
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 10px 0px 25px rgba(119, 118, 118, 0.185);
  /* margin: 130px auto 0; */
  animation: modal 150ms ease-out forwards;
}
.modal-info button {
  align-self: flex-end;
  margin: 5px;
  width: 80px;
  background-color: #59249c;
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px 0;
  border: 0;
  cursor: pointer;
  transition: background-color 400ms ease-in-out;
}
.modal-info h3 {
  align-self: center;
  margin-bottom: 10px;
}
