.dummy-content {
  min-height: calc(100vh - 110px - var(--footer-size));
}
.dummy-content.userdashboard {
  min-height: 100vh;
}

@media screen and (max-width: 700px) {
  .dummy-content {
    min-height: calc(100vh - 110px - var(--footer-size) - 50px);
  }
  .dummy-content.userdashboard {
    min-height: 100vh;
  }
}
