.recipe_item {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  transition: background-color 100ms ease-in-out, transform 200ms ease-in-out,
    color 100ms ease-in-out;
  border-radius: 5px;
  box-shadow: 5px 5px 10px -5px rgba(104, 102, 102, 0.4);
}
.recipe_item.dark {
  background-color: #383838;
  color: #fff;
  box-shadow: 5px 5px 10px -5px rgb(24, 20, 20, 52%);
}
.recipe_card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  margin: 0px auto;
}
.recipe_card > * {
  text-align: center;
  margin: 0 0 5px;
}
.recipe_card > p:nth-child(4) {
  text-align: left;
}
.recipe_card > p:nth-child(3) {
  color: #8f9091;
}
.recipe_card > p:nth-child(3).dark {
  color: #b4b0b0c2;
}
.recipe_card > p:nth-child(2) {
  margin-top: 0px;
  font-size: 1.2rem;
  font-weight: 500;
}
.recipe_card > button {
  display: block;
  margin: 10px auto 20px;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  background-color: #e2e2e2;
  cursor: pointer;
  transition: transform 200ms ease-in-out, background-color 500ms ease-in-out;
}
.recipeMethod {
  flex-grow: 1;
}
.recipe_card > button:hover {
  transform: scale(1.04);
}
.recipe_item:hover {
  cursor: pointer;
  transform: scale(1.04);
}
.fa-trash-alt {
  font-size: 1.2rem;
  color: #ff453c;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
}
.recipe_item:hover > .fa-trash-alt {
  animation: trashMovement 500ms ease-in-out forwards;
}

@keyframes trashMovement {
  0% {
    transform: translate(100%, -100%);
  }
  30% {
    transform: translate(-50%, 50%);
  }
  40% {
    transform: translate(-50%, 50%);
  }
  55% {
    transform: translate(-50%, 50%) rotate(25deg);
  }
  85% {
    transform: translate(-50%, 50%) rotate(-25deg);
  }
  100% {
    transform: translate(-50%, 50%);
  }
}
@media only screen and (max-width: 600px) {
  .recipe_item:hover > .fa-trash-alt {
    animation: none;
  }
  .fa-trash-alt {
    transform: translate(-50%, 50%);
  }
}
.recipe_img {
  margin: 40px 0 10px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}
.recipe_img > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center center;
}
@media only screen and (min-width: 750px) {
  .recipe_item {
    max-width: 400px;
  }
}
