.recipelist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-auto-rows: 1fr; */

  min-height: calc(100vh - 110px - var(--footer-size) - 80px);
  max-width: 1200px;
  margin: 30px auto 50px;
  padding: 0 30px;
  gap: 30px;
}
.navbar {
  margin: 0 10px;
}
@media only screen and (max-width: 600px) {
  .recipelist {
    padding: 0 15px;
    gap: 25px;
  }
}
@media only screen and (max-width: 450px) {
  .recipelist {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
