:root {
  --purple: #57249c;
  --red: #b90234;
  --green: #249c6d;
}

.theme {
  position: relative;
  max-width: 1200px;
  padding: 0px 10px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 300ms ease-in-out;
}

.theme > i {
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}
.theme.dark > i {
  color: #fff;
}
.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: aqua;
  cursor: pointer;
}

.color_box {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.color:nth-child(1) {
  background-color: var(--purple);
}
.color:nth-child(2) {
  background-color: var(--green);
}
.color:nth-child(3) {
  background-color: var(--red);
}
.theme > button {
  position: absolute;
  bottom: -40px;
  left: -1px;
  height: 40px;
  width: 40px;
  background-color: #59249c;
  color: #fff;
  font-size: 1.3rem;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 500ms ease-in-out;
}

@media only screen and (max-width: 1300px) {
  .theme {
    padding: 0 60px;
  }
  .theme > button {
    left: 50px;
  }
}
@media only screen and (max-width: 700px) {
  .theme {
    padding: 0 20px;
  }
  .theme > button {
    left: 10px;
  }
}
